# IDE/OS
*.DS_Store*
*.idea*

# Siberian ignores.
languages/*
!languages/default
.htaccess
app/configs/app.ini
images/customer/
images/site/
images/application/*
images/previewer
!images/application/placeholder
!images/application/tabbar
errors/*no-store.html
system.php
!app/sae/modules/System/resources/db/data/system.php
var/apps/android
var/apps/ionic/previewer
var/log/*
var/**/prod.css
var/**/prod.js
var/**/index-prod.html
config.php
var/apps/ionic/ios-noads/www/chcp.json
var/apps/ionic/ios/www/chcp.json
var/apps/ionic/android/assets/www/chcp.json
lib/Siberian/Minify.php
lib/Siberian/Version.php
var/apps/ionic/*
var/apps/ionic/android
# Allow node_modules for var/apps
!var/apps/ionic/**/node_modules
var/apps/ionic/tools/android-sdk
var/apps/ionic/tools/gradle

var/apps/iphone/cert_*
var/apps/certificates/*
!var/apps/certificates/root_ca.pem
app/local/
var/apps/ionic/android/assets/www/config.xml
var/apps/ionic/android/assets/www/cordova-js-src/confighelper.js
var/apps/ionic/android/assets/www/css/ionic.app.css
var/apps/ionic/android/assets/www/img/ionic.png
var/apps/ionic/android/assets/www/lib/ionic/css/ionic.css
var/apps/ionic/android/assets/www/lib/ionic/js/angular-ui/angular-ui-router.js
var/apps/ionic/android/assets/www/lib/ionic/js/angular/angular-animate.js
var/apps/ionic/android/assets/www/lib/ionic/js/angular/angular-resource.js
var/apps/ionic/android/assets/www/lib/ionic/js/angular/angular-sanitize.js
var/apps/ionic/android/assets/www/lib/ionic/js/angular/angular.js
var/apps/ionic/android/assets/www/lib/ionic/js/ionic-angular.js
var/apps/ionic/android/assets/www/lib/ionic/js/ionic.bundle.js
var/apps/ionic/android/assets/www/lib/ionic/js/ionic.js
var/apps/ionic/android/assets/www/lib/ionic/scss/
var/apps/ionic/android/assets/www/plugins/cordova-plugin-camera/src/
var/apps/ionic/android/assets/www/plugins/cordova-plugin-device/src/
var/apps/ionic/android/assets/www/plugins/cordova-plugin-dialogs/www/browser/
var/apps/ionic/android/assets/www/plugins/phonegap-plugin-barcodescanner/src/
var/apps/ionic/android/assets/www/scss/
var/apps/ionic/ios-noads/www/config.xml
var/apps/ionic/ios-noads/www/cordova-js-src/confighelper.js
var/apps/ionic/ios-noads/www/css/ionic.app.css
var/apps/ionic/ios-noads/www/img/ionic.png
var/apps/ionic/ios-noads/www/lib/ionic/css/ionic.css
var/apps/ionic/ios-noads/www/lib/ionic/js/angular-ui/angular-ui-router.js
var/apps/ionic/ios-noads/www/lib/ionic/js/angular/angular-animate.js
var/apps/ionic/ios-noads/www/lib/ionic/js/angular/angular-resource.js
var/apps/ionic/ios-noads/www/lib/ionic/js/angular/angular-sanitize.js
var/apps/ionic/ios-noads/www/lib/ionic/js/angular/angular.js
var/apps/ionic/ios-noads/www/lib/ionic/js/ionic-angular.js
var/apps/ionic/ios-noads/www/lib/ionic/js/ionic.bundle.js
var/apps/ionic/ios-noads/www/lib/ionic/js/ionic.js
var/apps/ionic/ios-noads/www/lib/ionic/scss/
var/apps/ionic/ios-noads/www/plugins/cordova-plugin-camera/src/
var/apps/ionic/ios-noads/www/plugins/cordova-plugin-device/src/
var/apps/ionic/ios-noads/www/plugins/cordova-plugin-dialogs/www/browser/
var/apps/ionic/ios-noads/www/plugins/phonegap-plugin-barcodescanner/src/
var/apps/ionic/ios-noads/www/scss/
var/apps/ionic/ios/www/config.xml
var/apps/ionic/ios/www/cordova-js-src/confighelper.js
var/apps/ionic/ios/www/css/ionic.app.css
var/apps/ionic/ios/www/img/ionic.png
var/apps/ionic/ios/www/lib/ionic/css/ionic.css
var/apps/ionic/ios/www/lib/ionic/js/angular-ui/angular-ui-router.js
var/apps/ionic/ios/www/lib/ionic/js/angular/angular-animate.js
var/apps/ionic/ios/www/lib/ionic/js/angular/angular-resource.js
var/apps/ionic/ios/www/lib/ionic/js/angular/angular-sanitize.js
var/apps/ionic/ios/www/lib/ionic/js/angular/angular.js
var/apps/ionic/ios/www/lib/ionic/js/ionic-angular.js
var/apps/ionic/ios/www/lib/ionic/js/ionic.bundle.js
var/apps/ionic/ios/www/lib/ionic/js/ionic.js
var/apps/ionic/ios/www/lib/ionic/scss/
var/apps/ionic/ios/www/plugins/cordova-plugin-camera/src/
var/apps/ionic/ios/www/plugins/cordova-plugin-device/src/
var/apps/ionic/ios/www/plugins/cordova-plugin-dialogs/www/browser/
var/apps/ionic/ios/www/plugins/phonegap-plugin-barcodescanner/src/
var/apps/ionic/ios/www/scss/
